<!doctype html>
<title>{% block title %}{% endblock %} - Kepler Block Explorer</title>
<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
<nav>
  <h1>Block Explorer</h1>
  <ul>
      <li><a href="{{ url_for('explorer.home') }}">Explorer</a>
      <li><a href="{{ url_for('explorer.network') }}">Network</a>
      <li><a href="{{ url_for('api.info') }}">API</a>
      <li><span>Last block: lastblock</span>
  </ul>
</nav>
<section class="content">
  <header>
    {% block header %}{% endblock %}
  </header>
  {% for message in get_flashed_messages() %}
    <div class="flash">{{ message }}</div>
  {% endfor %}
  {% block content %}{% endblock %}
</section>